/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */
/* .item {
  max-height: 150px;
  max-width: 150px;
} */

/* .thumb {
  vertical-align: baseline;
} */
.icon1 {
  max-width: 40px;
  max-height: 40px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  background-position: center;
}

/* Control the right side */
.right {
  right: 0;
  /* background-color: red; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  background-position: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mytext {
  z-index: -1;
  position:relative;
}