/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */
/* .item {
  max-height: 150px;
  max-width: 150px;
} */

/* .thumb {
  vertical-align: baseline;
} */
